title=title
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
style(type='text/css').
  .headingFont {
    font-family: lobster-two, cursive;
  }
  .fix-height {
    max-height: 300px;
  }
script(src='//use.edgefonts.net/lobster-two.js')
link(rel="icon",href="/images/favicon.png",type="image/x-icon")